@import "tailwindcss";

:root {
  color-scheme: light;

  /* Background colors */
  --bg-base: #e5e5e5;
  --bg-interactive: #000000;
  --bg-contrast: #f3f4f6;

  /* Text colors */
  --text-base: #000000;
  --text-hover: #ffffff;
  --text-muted: #6b7280;
}

* {
  border-radius: 0;
  box-shadow: none;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--bg-base);
  color: var(--text-base);
  font-family: Helvetica, Arial, sans-serif;
}
